<nav class="navbar mb-3">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a
                class="nav-link"
                routerLink="/users/profile/details"
                routerLinkActive="bg-light"
                [routerLinkActiveOptions]="{exact:true}"
            >
                Szczegóły
            </a>
        </li>
        <li class="nav-item">
            <a
                class="nav-link"
                routerLink="/users/profile/posts"
                routerLinkActive="bg-light"
                [routerLinkActiveOptions]="{exact:true}"
            >
                Posty użytkownika
            </a>
        </li>
    </ul>
</nav>
