<h2>Rejestracja</h2>
<app-loader *ngIf="registrationOngoing"></app-loader>
<p
    class="alert alert-danger"
    *ngIf="registrationError"
>
    {{registrationError}}
</p>
<p
    class="alert alert-success"
    *ngIf="registrationSuccessful"
>
    Rejestracja zakończona pomyślnie
</p>
<form
    [formGroup]="registerForm"
    (submit)="onSubmit()" *ngIf="!registrationSuccessful"
>
    <div class="form-group">
        <input
            class="form-control"
            type="text"
            name="name"
            formControlName="name"
            [class.is-invalid]="name.invalid && name.dirty"
            placeholder="name"
        >
    </div>
    <div class="form-group">
        <input
            class="form-control"
            type="email"
            name="email"
            formControlName="email"
            [class.is-invalid]="email.invalid && email.dirty"
            placeholder="email"
        >
    </div>
    <div class="form-group">
        <input
            class="form-control"
            type="password"
            name="password"
            formControlName="password"
            [class.is-invalid]="password.invalid && password.dirty"
            placeholder="password"
        >
    </div>
    <div class="form-group">
        <input
            class="form-control"
            type="password"
            name="confirmPassword"
            formControlName="confirmPassword"
            [class.is-invalid]="confirmPassword.invalid && confirmPassword.dirty"
            placeholder="confirmPassword"
        >
    </div>
    <div class="form-group">
        <input
            class="form-control"
            type="url"
            name="avatarUrl"
            formControlName="avatarUrl"
            [class.is-invalid]="avatarUrl.invalid && avatarUrl.dirty"
            placeholder="avatarUrl"
        >
    </div>
    <button class="btn btn-primary"
    [disabled]="registerForm.invalid">Zarejestruj się</button>
</form>
